.vertical {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 125px;
  bottom: 50px;
}

.integer {
  margin-top: 0;
  margin-bottom: 0;
}

.box {
  height: 140px;
  text-align: center;
}
