.integer {
  font-family: SoraRegular;
  color: white;
  margin-bottom: 1.5rem;
}

.box {
  flex-direction: column !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 10rem !important;
  width: 10rem !important;
  text-align: center;
  background-color: #eb4034;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
}

.p {
  font-family: SoraRegular;
  position: absolute;
  margin-top: 6rem;
  color: white;
}

@media (max-width: 700px) {
  .box {
    height: 80px !important;
    width: 80px !important;
  }
  .p {
    font-size: 14px !important;
    margin-bottom: 3rem !important;
  }
  .integer {
    font-size: 1.8rem !important;
    margin-bottom: 1.1rem !important;
  }
}
