.logo {
  padding-top: 4rem;
}

.container {
  width: 100%;
  background-color: black;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "SoraBold";
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.boks {
  background-color: black;
  background-image: url("../assets/celebration.gif");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-top: 2.5%;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.5;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: white;
  font-family: LatoRegular;
}

@media (max-width: 900px) {
  .description {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
