.main {
  max-width: fit-content;
  text-align: left;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  margin-top: 4rem;
}

.description {
  line-height: 1.5;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: black;
  font-size: 8;
  font-family: LatoRegular;
}

.title {
  font-size: 20;
  font-family: SoraBold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Table {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
  margin-bottom: 10rem;
}
