.stackStyle {
  margin: 0 40px;
}

.verticalLine {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
  margin-bottom: 6px;
}

.textBox {
  width: 700px;
}

.title {
  font-size: 21px;
  margin-bottom: 30;
}

.text {
  width: 100%;
  text-align: justify;
}

.roleStyle {
  justify-content: center;
  margin-right: 100px;
}

.pageStackStyle {
  max-width: 1500px;
  margin: auto;
}

.mainTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.buttonStyle {
  padding: 20px;
}

.theOrderTypographyStyle {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
}

.theOrderCardStyle {
  margin-left: 0px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 320px;
  border: 2px solid black !important;
}

.theOrderMemberImgStyle {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.theOrderh4Style {
  text-align: center;
}

.tabPanelsStyle {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconButtonStyle {
  float: right;
}

.modalStyle {
  overflow: scroll;
}

.tmob {
  display: none !important;
}
.tdesk {
  display: block !important;
}

.img {
  display: flex !important;
}

@media (max-width: 900px) {
  .stackStyle {
    flex-wrap: wrap !important;
    display: flex !important;
    justify-content: center !important;
  }

  .titleSize {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .text {
    display: flex;
    justify-content: center;
  }

  .img {
    display: flex !important;
  }

  .textBox {
    width: 700px;
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .infoBox {
    width: 100%;
    margin: 0px !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .title {
    margin: 0px;
  }

  .roleStyle {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .titleSize {
    font-size: 2rem;
  }

  .theOrderCardStyle {
    min-width: 240px;
  }
  .theOrderCardStyle {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .tmob {
    display: block !important;
  }
  .tdesk {
    display: none !important;
  }
}
