.card {
  display: flex;
  flex-direction: column;
  padding: 7px 0px;
}

.banner {
  alt: "banner";
  height: 200px;
}

.headline {
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
}

.leftside {
  font-size: x-large;
}

.info {
  font-size: large;
}
